.card-container{
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 10rem;
  &__header{
    display: inherit;

    &-icon{
      width: 5rem;
      height: 5rem;
      mat-icon{
        width: 5rem;
        height: 5rem;
      }
    }
    &-title{
    }
  }
}