.card-container {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 10rem;

  &__header {
    display: inherit;

    &-icon {
      width: 5rem;
      height: 5rem;

      mat-icon {
        width: 5rem;
        height: 5rem;
      }
    }

    &-title {
      display: flex;

      div {
        color: #6c6c6c;
      }
    }
  }


  .gauge-container {
    position: relative;
    width: 50%;
    height: 100%;

    svg {
      transform: translate(94px, -37px) rotate(-180deg) !important;
    }
  }

  .gauge {
    position: absolute;
    top: 0;
    left: 0;


    &-text {
      transform: translate(100%, 110%) rotate(180deg);
      text-anchor: middle;
      stroke-width: 1 !important;
      stroke-dasharray: none;
    }
  }

  .gauge-circle {
    fill: none;
    stroke: #ccc;
    stroke-width: 10;
  }

  .gauge-progress {
    fill: none;
    stroke: #273239;
    stroke-width: 10;
    transform-origin: center;
    transform: rotate(-180deg);
    transition: stroke-dashoffset .5s ease-in-out;
  }
}